extends layout

block content
  .row.mb-4
    .col-12
      h1.h3 #{__('dashboard.title')}
      p.text-muted #{__('dashboard.welcome')}

  if !user
    .row.justify-content-center
      .col-md-8
        .card.shadow-sm
          .card-body.text-center.py-5
            h2.mb-4 #{__('login.title')}
            p.mb-4 #{__('login.connect')}
            a.btn.btn-primary.btn-lg(href="/auth/login")
              i.bi.bi-box-arrow-in-right.me-2
              | #{__('login.button')}
  else
    .row
      .col-md-4.mb-4
        .card.shadow-sm.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start
              div
                h5.card-title #{__('nav.spaces')}
                h2.display-6 #{stats && stats.spaces ? stats.spaces : 0}
              .icon-bg.bg-primary.text-white
                i.bi.bi-building.fs-1
          .card-footer.bg-white.border-0
            a.btn.btn-sm.btn-outline-primary(href="/spaces") #{__('dashboard.viewDetails')}

      .col-md-4.mb-4
        .card.shadow-sm.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start
              div
                h5.card-title #{__('nav.userGroups')}
                h2.display-6 #{stats && stats.userGroups ? stats.userGroups : 0}
              .icon-bg.bg-warning.text-white
                i.bi.bi-diagram-3.fs-1
          .card-footer.bg-white.border-0
            a.btn.btn-sm.btn-outline-primary(href="/user-groups") #{__('dashboard.viewDetails')}

      .col-md-4.mb-4
        .card.shadow-sm.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start
              div
                h5.card-title #{__('nav.users')}
                h2.display-6 #{stats && stats.users ? stats.users : 0}
              .icon-bg.bg-info.text-white
                i.bi.bi-people.fs-1
          .card-footer.bg-white.border-0
            a.btn.btn-sm.btn-outline-primary(href="/users") #{__('dashboard.viewDetails')}

    .row
      .col-md-4.mb-4
        .card.shadow-sm.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start
              div
                h5.card-title #{__('nav.folderBlueprints')}
                h2.display-6 #{stats && stats.folderBlueprints ? stats.folderBlueprints : 0}
              .icon-bg.bg-success.text-white
                i.bi.bi-folder-plus.fs-1
          .card-footer.bg-white.border-0
            a.btn.btn-sm.btn-outline-primary(href="/folder-blueprints") #{__('dashboard.viewDetails')}

block scripts
  style.
    .icon-bg {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }


